.navbar-logo {
  max-width: 50px;
  max-height: 50px;
  height: auto;
}


#container{
    margin: 2 white;
    padding-bottom: 50px blue;
    text-align: center;
    background-color: brown;
}
#clockContainer{
    text-align: center;
}
#clock{
    font-size: 75px;
    color: white;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.flex-item {
  flex: 1;
  padding: 10px;
  border: 5spx solid #ccc;
  background-color: rgb(211, 211, 211);
}

  html, body {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }

  .maincontent{
    padding-top: 0%;
    padding-left:0%;
  }

  #catImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .catImage {
    max-width: 100%;
    max-height: 400px;
    margin: 10px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  justify-content: center;
}
